@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Playfair+Display:ital,wght@1,800&display=swap");

:root {
  --primary-color: #202020;
  --secondary-color: #f4f7fc;
  --grey: #a6a6a6;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Platfair Display", serif;
  font-weight: 800;
  color: var(--primary-color);
  margin: 1.6rem 0;
}

p {
  font-weight: 400;
  margin: 1.6rem 0;
  color: var(--primary-color);
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3rem;
  letter-spacing: 1.5rem;
}
h2 {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 1.6rem;
}

span {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  margin: 1.6rem 0;
  color: var(--grey);
  font-size: 1.6rem;
  border-bottom: 2px ridge var(--primary-color);
}

.site_bar {
  width: 90vw;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
hr {
  margin: 16px 0;
}

.scroll_top{
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  background-color: #CBD366;
  color: #FFF;
  cursor: pointer;
  padding: 8px 16px;font-size: 20px;
  font-weight: 800;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu a {
  border-bottom: none;
  color: var(--primary-color);
  font-weight: 700;
  margin-left: 1rem;
}

.mobile_menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile_menu {
    display: block;
    font-size: 24px;
  }
  .menu {
    position: absolute;
    background-color: rgb(232, 249, 243);
    width: 100%;
    top: 100%;
    z-index: 99;
    display: none;
  }
  .menu a {
    padding: 32px 0;
    font-size: 18px;
    display: block;
    text-align: center;
  }

  .show {
    display: block;
  }
}

/* hero section */
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}

.hero .left {
  background-image: url(photos/s3.jpg);
  background-size: cover;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .right {
  background-color: #cbd366;
}

.hero .content_box {
  position: absolute;
  background-color: #fffffc;
  padding: 32px;
  width: 35%;
  top: 50%;
  left: 65%;
  transform: translate(-40%, -50%);
}

@media only screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero .content_box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: #fffffc;
  }
}

/* blog */

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 50px;
  gap: 48px;
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.blog .thumbnail {
  object-fit: contain;
}

.blog_post {
  background-color: var(--secondary-color);
  margin: 24px 0;
  padding: 16px;
}

.blog_content {
  margin-top: 24px;
}

.pagination {
  display: inline-block;
  border: none;
}
.pagination .active {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}
.pagination a {
  color: var(--primary-color);
  float: left;
  padding: 8px 16px;
  border: 0;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .blog {
    grid-template-columns: 1fr;
  }
}


.wrapper{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}

.wrapper .thub{
    flex: 1;
}


.wrapper .content{
    flex: 2;
    padding: 16px;
}

.wrapper p,span,a{
    font-size: 1.4rme;
    margin: 0;
}



@media only screen and (max-width: 768px) {
    .site_container{
        width: 100vw;
        padding:0 24px;
    }
    .site_container main{
        grid-template-columns: 1fr;
    }
    .wrapper{
        margin:24px 0px ;
    }
}

/* footer */

footer{
    background-color: #212124;
    margin-top: 100px;
    padding: 40px 20px;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

footer h3{
    font-size: 2rem;
    color: #f4f7fc;
}


footer p,span,a{
    color: #cdcfd4;
}

.footer_top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    margin: 0 50px;
    justify-items: center;
}
footer hr{
    margin: 60px 0;
}

.footer_bottom{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer_menu li{
    /* flex-wrap: wrap; */
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin-right:16px ;
}

.social_icons i{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    padding: 8px;
   
}

@media only screen and (max-width:768px){
    
    .footer_top{
        grid-template-columns: 1fr;
        justify-items: start;
    }
    .social_icons i{
     display: flex;
     flex-direction: row-reverse;
     flex-wrap: wrap;
    }
}

